# TODO: add copyright header

---
BasedOnStyle: Google

# Keep comments at 1000.
ReflowComments: true

# Enforce max line length.
ColumnLimit: 100

# Indent
IndentWidth: 4
UseTab: false
---
Language: Cpp

# Don't indent private/public inside classes.
AccessModifierOffset: -4

# Align trailing comments on consecutive lines.
AlignTrailingComments: true

# Keep template on a separate line.
AlwaysBreakTemplateDeclarations: Yes

# Custom control how braces stay on the same line or go on the next.
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: false
    AfterStruct: false
    AfterNamespace: false
    AfterFunction: false
    BeforeCatch: true
    BeforeElse: true
    IndentBraces: false

# How to break a constructor initializer list.
BreakConstructorInitializers: AfterColon

# No spaces for C++11 braced lists.
Cpp11BracedListStyle: true

# Comment out ends of namespaces.
FixNamespaceComments: true

# Split includes into blocks.
IncludeBlocks: Regroup

# Don't indent namespace content.
NamespaceIndentation: None

# Keep pointers next to the type.
PointerAlignment: Left

# Sort includes.
SortIncludes: true

# Sort 'using' blocks.
SortUsingDeclarations: true

# Keep 'switch' and 'case' aligned.
IndentCaseLabels: false

# Reduce empty lines.
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

# Always pack arguments together.
BinPackParameters: true
BinPackArguments: true



---
