# Generated code for XML read
src/database/IP_EVAA_XML.cpp
src/database/IP_EVAA_XML.h
src/database/VEHICLE_EVAA_XML.cpp
src/database/VEHICLE_EVAA_XML.h
src/database/LOAD_EVAA_XML.cpp
src/database/LOAD_EVAA_XML.h
src/database/LOOKUP_EVAA_XML.cpp
src/database/LOOKUP_EVAA_XML.h

# Updated by cmake.
src/tools/AuxiliaryParameters.cpp

# Build artifacts
build*
out/
*.cmake

# Matlab
*.asv

# Results.
Results/*
LookupTable*.txt

# Project files
.vs/
.vscode/
CmakeSettings.json

# TODO: see if still needed
src/tmwtypes.h
proposed_xml/*
main.cpp
dump/*
/enc_temp_folder
