/src/database/IP_EVAA_XML.cpp
/src/database/IP_EVAA_XML.h
/src/database/LOAD_EVAA_XML.cpp
/src/database/LOAD_EVAA_XML.h
/src/database/LOOKUP_EVAA_XML.cpp
/src/database/LOOKUP_EVAA_XML.h
/src/tools/AuxiliaryParameters.cpp
/src/tmwtypes.h
/src/xsd.rar
/build*
*.asv
*.cmake
/Results/*
/.vs/*
/proposed_xml/*
main.cpp
/dump/*